.searchBox {
    position: relative;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: -20px;
}
.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}
.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}
.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}
.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
.materialIcons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
}